<nav class="navbar navbar-expand-lg bg-light border border-bottom-2 px-4 z-1" style="position: absolute; width: 100%; top: 0;">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <%= link_to 'Simple Airbnb', root_path, class: 'navbar-brand text-decoration-none fs-5 text-dark' %>
    <div class="d-flex gap-2">
      <form class="d-flex gap-2">
        <input class="form-control" name="query" type="search" value="<%= @query %>">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <%= link_to 'Add Flat', new_flat_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
</nav>

<div class="container py-5 mx-5">
  <% if alert %>
    <div class="alert alert-info d-flex justify-content-between align-items-center">
      <%= alert %>
      <a class="link-secondary cursor-pointer" data-dismiss="alert" onclick="this.parentElement.classList.add('d-none');">
        <i class="fa-sharp fa-solid fa-xmark"></i>
      </a>
    </div>
  <% end %>

  <h1 class="mb-4">All our Flats</h1>

  <% if @query %>
    <p class="fs-5">You searched for <strong><%= @query %></strong>. We found <%= @flats.count %> flats out of our <%= Flat.count %> flats on our website.</p>
  <% else %>
    <p class="fs-5">All <%= Flat.count %> flats on our website.</p>
  <% end %>

  <div class="cards d-flex flex-wrap gap-5">
    <% @flats.each do |flat| %>
      <div class="card flat-card" style="width: 20rem;">
        <img src="<%= flat.picture_url %>" class="card-img-top" alt="Picture of <%= flat.name %>">
        <div class="card-body bg-light">
          <h5 class="card-title fs-3"><%= flat.name %></h5>
          <p class="card-text fs-6"><%= flat.address %></p>
          <div class="d-flex gap-2">
            <p class="card-text"><i class="fa-solid fa-user-group"></i><%= flat.number_of_guests %></p>
            <p class="card-text"><i class="fa-solid fa-euro-sign"></i><%= flat.price_per_night %></p>
          </div>
          <p class="card-text fs-6 my-2">Added <%= time_ago_in_words(flat.updated_at) %> ago</p>
        </div>
        <div class="card-footer d-flex gap-3 bg-white">
          <%= link_to 'More info', flat_path(flat), class: 'text-primary text-decoration-none' %>
          <%= link_to 'Edit', edit_flat_path(flat), class: 'text-warning text-decoration-none' %>
          <%= link_to 'Remove', flat_path(flat),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: 'text-danger text-decoration-none'
          %>
        </div>
      </div>
    <% end %>
  </div>
</div>