<img src="<%= @flat.picture_url %>" class="img-fluid w-100" style="height: 400px; object-fit: cover" alt="Picture of <%= @flat.name %>">

<div class="container p-0 mx-5 position-relative" style="top: -60px">
  <% if alert %>
    <div class="alert alert-info d-flex justify-content-between align-items-center">
      <%= alert %>
      <a class="link-secondary cursor-pointer" data-dismiss="alert" onclick="this.parentElement.classList.add('d-none');">
        <i class="fa-sharp fa-solid fa-xmark"></i>
      </a>
    </div>
  <% end %>

  <div class="d-flex flex-column gap-3">
    <div class="bg-light p-3 shadow-sm">
      <h2 class="fs-2"><%= @flat.name %></h2>
      <p><%= @flat.address %></p>
    </div>
    <div class="bg-light p-3 shadow-sm">
      <h2 class="fs-4">A bit more about this flat...</h2>
      <p><%= @flat.description %></p>
    </div>
    <div class="bg-light p-3 shadow-sm">
      <h2 class="fs-4">Details</h2>
      <div class="d-flex gap-3">
        <p class="card-text"><i class="fa-solid fa-user-group"></i><%= @flat.number_of_guests %></p>
        <p class="card-text"><i class="fa-solid fa-euro-sign"></i><%= @flat.price_per_night %></p>
      </div>
    </div>
    <%= link_to "Back", flats_path, class: 'btn btn-outline-primary' %>
  </div>
</div>